body {
  background: #999;
  font-size: 16px;
}
footer {
  background: #999;
  padding: 1em 0;
  width: 100%;
  text-align: center;
}
header {
  background: #aaa;
  margin: 0;
  overflow: hidden;
}
header h1 {
  margin: 0;
}
header figure {
  height: 90px;
  width: 90px;
  border: 1px dashed;
  float: left;
  margin: 1em;
}
.busqueda {
  margin-top: 1.5em;
}
.busqueda .filtro {
  padding: 0;
}
.resultados {
  margin-top: 1.5em;
}
