<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Misas Paraguay</title>

<link rel="stylesheet"
	href="http://localhost:8000/static/css/bootstrap.css">
<link rel="stylesheet" href="http://localhost:8000/static/css/style.css">
<link type="text/css"	href="http://localhost:8000/static/css/dj.selectable.css"	rel="stylesheet" />
{% load selectable_tags %} 
{% include_jquery_libs %}
 {% include_ui_theme %}
<script src="http://localhost:8000/static/js/bootstrap.js"></script>
<script type="text/javascript"
	src="http://localhost:8000/static/js/jquery.dj.selectable.js"></script>

</head>
<body>
	<header>
		<figure class="logo">
			<img src="http://localhost:8000/static/img/santuario.png" alt="">
		</figure>
		<h1>Misas</h1>
		<h3>Horarios de misas del Paraguay</h3>
	</header>
	{% block formulario %}

	{% endblock %}

	<section class=" resultados">
		<div class="panel-group" id="accordion">
			{% block contenido %} 
			{% endblock %}
		</div>

	
		

	</section>

	<footer class="col-xs-12">
		<p>
			Desarrollado por <a href="http://www.girolabs.com">Girolabs</a>
		</p>
	</footer>

</body>
</html>
