<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Misas Paraguay</title>
	
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
	<script src="{{STATIC_URL}}js/jquery-2.0.3.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="/media/ajax_search/css/ajax_search.css" />
<script src="/media/ajax_search/js/ajax_search.js" type="text/javascript"></script>
</head>
<body>
	<header>
		<figure class="logo"><img src="{{STATIC_URL}}img/santuario.png" alt=""></figure>
		<h1>Misas</h1>
		<h3>Horarios de misas del Paraguay</h3>
	</header>
	<section class="busqueda row">
	<form class="form-search" action="busqueda.php" method="get">				
				<div class="col-xs-4">
					  <select class="form-control">
					      <option>Ciudad</option>
					      <option>Iglesia</option>
					      <option>Hora</option>
					  </select>
				</div>
				  <div class="col-xs-7">
				    <div class="input-group">
				      <input type="text" class="form-control"  >
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="submit"  value="Submit">Ir a misa!</button>
				      </span>
				    </div>
	  			</div>	
	  	</form>		
</section>
<section class=" resultados">
		<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <strong>San Pedro y San Pablo</strong>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        	<p><strong>Parroco:</strong> Juan Perez .</p>
        	<p><strong>Horarios: </strong> 8:00, 9:00,11:00,17:00,19:00 .</p>
        	<p><strong>Direccion: </strong> Sgto Guachiturro casi la casa de Gi.</p>
        	<p><strong>Telefono: </strong> 021 556 898</p>
        	<p><strong>Cómo llegar:</strong></p>


        <figure class="mapa">
        	<img src="{{STATIC_URL}}img/mapa.JPG" alt="">
        </figure>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <strong>Virgen del Pilar</strong>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Parroco:</strong> Juan Perez .</p>
        	<p><strong>Horarios: </strong> 8:00, 9:00,11:00,17:00,19:00 .</p>
        	<p><strong>Direccion: </strong> Sgto Guachiturro casi la casa de Gi.</p>
        	<p><strong>Telefono: </strong> 021 556 898</p>
        	<p><strong>Cómo llegar:</strong></p>
        	 <figure class="mapa">
        	<img src="{{STATIC_URL}}img/mapa.JPG" alt="">
        </figure>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <strong>Santuario Joven</strong>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Parroco:</strong> Juan Perez .</p>
        	<p><strong>Horarios: </strong> 8:00, 9:00,11:00,17:00,19:00 .</p>
        	<p><strong>Direccion: </strong> Sgto Guachiturro casi la casa de Gi.</p>
        	<p><strong>Telefono: </strong> 021 556 898</p>
        	 <p><a href="#">Galeria de Fotos</a></p>
        	<p><strong>Cómo llegar:</strong></p>
        	 <figure class="mapa">
        	<img src="{{STATIC_URL}}img/mapa.jpg" alt="">
        </figure>

      </div>
    </div>
  </div>
</div>	

<form class="searchfield" method="get" action="/ajax_search/search/" autocomplete="off">
  {{ searchentryform.q }}
  <input id="searchbuttonmain" type="submit" class="subbtn" value="Search">
</form>
		
</section>

<footer  class="col-xs-12">
	<p>Desarrollado por <a href="http://www.girolabs.com">Girolabs</a></p>
</footer>
		
</body>
</html>
