{% extends "base.html" %}
   {% block contenido %}  
 		{{nada}}
	   {% for elemento in entry_list %}
	   <div class="panel-group" id="accordion">
	        <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{elemento.id}}">
          <strong>{{elemento.nombre}}</strong>
        </a>
      </h4>
    </div>
    <div id="collapse{{elemento.id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Parroco:</strong> {{elemento.nombre}} .</p>
        	<p><strong>Horarios: </strong> 8:00, 9:00,11:00,17:00,19:00 .</p>
        	<p><strong>Direccion: </strong> Sgto Guachiturro casi la casa de Gi.</p>
        	<p><strong>Telefono: </strong> 021 556 898--{{elemento.peso}}</p>
        	 <p><a href="#">Galeria de Fotos</a></p>
        	<p><strong>Como llegar:</strong></p>
        	 <figure class="mapa">
        	<img src="http://localhost:8000/static/img/mapa.jpg" alt="">
        </figure>

      </div>
    </div>  
  </div>
	         
</div>		      
        {% endfor %}
        
    {% endblock %}