body {
  font-size: 16px;
}
footer {
  background: #999;
  padding: 1em 0;
  width: 100%;
  text-align: center;
}
header {
  background: #f28d35;
  margin: 0;
  overflow: hidden;
  border-radius: 1em;
  box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}
header h1 {
  margin-top: 0.5em;
  font-weight: normal;
  font-size: 2em;
}
header h3 {
  font-size: 1.5em;
}
header figure {
  height: 90px;
  width: 90px;
  border: 1px dashed;
  float: left;
  margin: 1em;
  overflow: hidden;
}
header figure img {
  height: 90px;
  width: 90px;
}
.busqueda {
  margin-top: 1.5em;
  margin-right: 0;
  margin-left: 15px;
}
.busqueda .filtro {
  padding: 0;
}
.resultados {
  margin-top: 1.5em;
}
.resultados .mapa img {
  width: 90%;
}
